<h2 class="center"> Alpha bloggers</h2>
<div class="center">
    <%= will_paginate %>
</div>
<% @users.each do |user| %>
    <div class="row">
        <div class="well col-md-8 col-md-offset-2">
             <div class="article-meta-details">
                <div id="left">
                    <%= link_to gravatar_for(user), user_path(user) %>
                    <small><%= link_to user.username, user_path(user) %></small>
                </div>
                <div id="right">
                    <small><%= pluralize(user.articles.count,"article") %></small>
                    <% if logged_in? and current_user.admin? %>
                    <%= link_to  user_path(user), method: 'delete', data: {confirm: 'Are you sure want to delete?'} do  %>
                                 <%= content_tag :span,"", :class => "glyphicon glyphicon-trash", :aria_hidden => "true" %>
                                 <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>
<div class="center">
    <%= will_paginate %>
</div>